[2022-07-04 03:03] getify opened #1 "Need a service worker"
Basic caching service worker needed, to make this an installable PWA. Probably should use a basic versioning system in it as well.

[2022-07-04 03:04] getify opened #2 "Need a better layout/design"

[2022-07-04 03:05] getify opened #3 "need a few basic pages"
Need an about page, a privacy policy page, maybe a couple of others.

[2022-07-04 03:08] getify opened #4 "need a passphrase suggestion mechanism"
some way on the registration screen to get suggestions for passphrases (diceware, etc).

[2022-07-04 07:58] staranbeer commented on #2
Hey! i would like to work on this issue and also the pages. are there any framework/design requirements for the project?

[2022-07-04 11:57] getify commented on #2
Thanks for volunteering, would love help!

We're intentionally avoiding/minimizing frontend tooling (frameworks, libraries) wherever possible. There are a few libraries already that were unavoidable, but we want there to be as little third-party code as possible so that auditing the behavior of the app is as straightforward as it can be. Since we're not expecting this app to be a very complex app

[2022-07-04 12:44] kirankok commented on #3
Hi Kyle, would like to work on this.

[2022-07-04 12:47] AbednegoTM commented on #3
I can help as well

[2022-07-04 12:47] getify commented on #3
Taking some of the wording from the README here, as well as what I said on linked-in, that would be the best starting page for text for a Privacy page and/or About page. So we just need to start drafting that text, and lay it out in basic HTML.

[2022-07-04 12:48] huynhicode commented on #2
Hi, I would like to help out as well. Thanks for setting this up.

[2022-07-04 12:50] getify opened #5 "need to plan out some of the main features"
Here's a few ideas for initial features:

1. we're going to need a way to easily see ranges of dates in the future for projected/expected periods, as well as the ranges in the past for actual periods (and compared to what was projected).

2. There will also be a sort of "daily check-in" during a period (or the days leading up to it) for self-reporting any symptoms or status of the menstrual flow,

[2022-07-04 12:51] Deep1Shikha commented on #3
Shall I start building the privacy policy page?

[2022-07-04 12:52] AbednegoTM commented on #3
Sounds good as starting point.

[2022-07-04 12:52] getify commented on #3
yes! let's coordinate here in issues to minimize how much duplicative work might be done.

[2022-07-04 12:55] AbednegoTM commented on #3
I agree . A contribution guideline may also be needed

[2022-07-04 13:00] AbednegoTM opened #6 "Contribution guideline is needed"
For better collaboration a contribution guideline will be needed as a reference.

[2022-07-04 13:02] AbednegoTM commented on #3
Done

[2022-07-04 13:03] prabhpreet-code commented on #2
Amazing initiative @getify ... Would love to contribute in any way I could !!

[2022-07-04 13:03] getify commented on #6
Yes, definitely.

I'll start:

1. We need a code-of-conduct (perhaps basic text from a good web conference's CoC) for respect of contributors
2. We need statement that all contributions of code or documentation are open-source licensed under MIT

[2022-07-04 13:05] getify commented on #2
@luisorbaiceta sounds useful, I don't know how to do that, but if you can take the lead in doing so, please do!

[2022-07-04 13:12] prabhpreet-code commented on #2
One thing to add that shouldn't we first do some brainstorming on ideas and make a small software requirements document along with wireframes of designs and all?? I hope it could provide us a kind of a roadmap to follow...

[2022-07-04 13:14] getify commented on #2
absolutely, I filed a separate issue #5 on planning out features.

[2022-07-04 13:16] getify commented on #2
@staranbeer I *think* that's already been done. I saw an email invite about it just a minute ago.

[2022-07-04 13:17] AbednegoTM commented on #6
How is this for a start in terms of code of conduct.
 - https://www.contributor-covenant.org
 - https://www.contributor-covenant.org/version/2/1/code_of_conduct/code_of_conduct.txt
 with regards guidelines I do believe it will be a living document which will get updated as we go.

[2022-07-04 13:17] luisorbaiceta commented on #2
Already did yes. This is a [view only link](https://www.figma.com/team_invite/redeem/RGRbYTgALoGkzWFAPiIvKX). If anyone is interested in editing please state so and I'll send a private invitation

[2022-07-04 13:30] Gynko commented on #2
Hello there!
Is there anything in the design (logo, colors, shapes) that is already set in stone or is it possible to experiment with everything?

[2022-07-04 13:36] akashgk opened #7 "Requiring contribution guidelines and PR"
We need to have contribution guidelines and PR templates as well as issue templates.

[2022-07-04 13:42] asheerrizvi commented on #6
Should we discuss PR and issue templates here as well? Someone opened as issue for this.

[2022-07-04 13:43] prabhpreet-code commented on #6
Actually, I remember I saw some contribution guidelines in one of the projects so attaching them here If you think they could be of any help??
*****************************************************************************

# Contribution guidelines 🔐

**Hello contributors, i want you to stick to the below-listed contribution guidelines. Happy contributing.**

<br/>

- Issues will be assigned on a F

[2022-07-04 13:56] abhishekraj272 commented on #1
I am taking this up

[2022-07-04 13:56] SandeepBalachandran opened #8 "Add issue and PR templates"
Hey guys,

Noticed repository missing issue and PR templates.
So I am proposing to add issue (bug report, feature request) and PR templates to make things easier and as per conventions.

[2022-07-04 14:11] luisorbaiceta commented on #2
I sent an invitation to your email. You should be able to edit the files. The main pages have been created as written by @getify in the description of the issue

[2022-07-04 14:24] rayblair06 commented on #4
I would love to have a look at this issue.

Will report back in a couple of days if I've managed to make any progress with it.

[2022-07-04 14:26] luisorbaiceta commented on #2
Access with that link and I'll change your permissions

[2022-07-04 14:30] staranbeer commented on #2
i think @Gynko 's design is a good starting point, although i think we should experiment with colors and alignment a bit

[2022-07-04 14:32] getify commented on #4
Great!

I built a service for this: https://securephrase.io

I think we can borrow code from that to host locally in this app. Have a look.

[2022-07-04 14:33] rayblair06 commented on #4
Perfect! I will look at that and see what we can borrow from it.

[2022-07-04 14:41] gioboa commented on #8
I would like prepare a template for PRs. pls let me know.

[2022-07-04 14:41] getify commented on #2
Also, for color selections, keep accessibility in mind, such as color contrast:

https://contrast-ratio.com/

We should strive for at least AA compliance, and in places where possible, AAA compliance.

[2022-07-04 15:00] DevenRathod2 opened #11 "UI/UX Desigining"
I want to contribute to this open-source world-changing project. and I want to work on UI/UX Designing.

[2022-07-04 15:09] Gynko commented on #2
As much as possible, I like the idea to have just one mode for the sake of simplicity. But we can see where the brainstorming will take us?

[2022-07-04 15:10] gioboa commented on #11
Hi @DevenRathod2 in #2 we are talking about a new UI/UX Design

[2022-07-04 15:20] Ritik-gh commented on #2
Hey, I would love to contribute on this project, I can work on the frontend the frontend part you mentioned, @getify.

[2022-07-04 15:21] DevenRathod2 commented on #11
Yeah. i can help you to design a stunning UI
also @getify can you create a slack workspace for discussion about this project?

[2022-07-04 16:00] artmarydotir commented on #11
Hi, i can help too. also have a uterus 😁

[2022-07-04 16:46] gkhedekar5758 commented on #3
@kirankok and @AbednegoTM I would like to join if you need an helping hand

[2022-07-04 17:02] Gynko commented on #2
I added a bunch of possible inspirations on the Figma project / Graphic design | Brainstorming
https://www.figma.com/file/BJZxTbsXzMPXqFD4vhvquq/Graphic-design%3A-brainstorming?node-id=0%3A1

They come from dribble, picked on the theme "health" "yoga" "meditation" and "nature".
I found that there some interesting parts, whether it was the layout, the colors, the mood, etc..

Would love to know if

[2022-07-04 17:03] aditiranka27 commented on #11
Hey! I am frontend developer and a I also have a uterus 😁. I would love to help because I had to delete my period tracking apps with these laws and I need something which protects my identity and data. (PS. I live in Texas and female reproductive rights have gone down the the drain here).

[2022-07-04 17:05] aditiranka27 commented on #5
As a user of period tracking apps from quite a long time, one of the feature I would suggest would be logging in symptoms (like headache, cramps, nausea, body ache, mood swings etc.)

[2022-07-04 17:14] getify commented on #11
@aditiranka27 I live in Texas too, a big reason motivating this app!

[2022-07-04 17:22] getify commented on #5
@Kath-1 definitely agree, been thinking about this for sure. I. have ideas for how to do so. securely (by storing/retrieving the encypted dataset from the serve).

Even though it would be encrypted (and https), introducing any server besides static file serving, does somewhat detract from the obvious trust boundary this app provides.

Also, contemplating if device. sync could instead be peer-to-pe

[2022-07-04 17:24] baldarn opened #15 "change the license with the Hippocratic license"
I would suggest to change the license with this, that will prevent the unethical usage of the code of the app

https://firstdonoharm.dev/

[2022-07-04 17:32] aditiranka27 commented on #11
@getify I agree! A huge motivation to contribute to something which would help all the people affected.

[2022-07-04 18:25] crs1138 commented on #5
Many women make a note of their vaginal temperature during their cycle as part of their conception/contraception planning. Perhaps it could be a feature.

[2022-07-04 18:54] 5hraddha commented on #3
Hey guys @kirankok, @AbednegoTM and @getify! I would like to help as well. Please, let know if there is any page or issue I could help. Thank you!!

[2022-07-04 19:19] AbednegoTM commented on #3
_This is draft based on linkedIn Post and about page_

## About  - DRAFT
**A privacy-first period tracking app.**

We could almost all agree that it's never been more important for us to OWN OUR INFORMATION, not governments or "big tech" companies, so that we decide what is done with that information.

I think that especially goes for private medical/health data, of which menstrual tracking (for w

[2022-07-04 19:21] AbednegoTM commented on #3
I am not so strong in writing copy content.  @5hraddha and @gkhedekar5758 I believe this is were you come in Once we done  working on copy I will write the markup. How is that ?
@getify I think the draft above is good starting point for ABOUT page copy.

[2022-07-04 19:52] staranbeer commented on #2
i really like number 2. it's simple yet elegant and the soft color scheme kinda matches the vibe of the project

[2022-07-04 20:03] aditiranka27 commented on #2
From the inspiration board I really like number 2 and 4. For a period tracking app, I would suggest using cool and calm tones, more on the light/pastel color shades.

[2022-07-04 20:03] 5hraddha commented on #3
Hi Guys!

Here is the initial draft for **Privacy Policy Page**, based on the LinkedIn Post and Read Me.

"We believe menstrual tracking (for women/people with uteruses) data might be some of the most sensitive and important data to protect as it belongs to you, and you alone. **You.** (the app) is committed to putting you in control of all your information, and thus, never collects or tracks anyt

[2022-07-04 20:15] aditiranka27 commented on #2
@getify For starters, we should keep light theme for MVP.

[2022-07-04 20:15] yepyeplabs commented on #5
a webhook for receiving tracking information. i use this to make things more accessible by voice "hey voice assistant, do this" without the app itself needing to be accessible in that way. data entry sucks when one struggles with mobility

[2022-07-04 20:17] staranbeer commented on #2
wait is it a period tracking app or its name is just period as in the character '.'  i'm confused

[2022-07-04 20:21] aditiranka27 commented on #2
@staranbeer : the first line of the Readme- it is a period tracking app. https://github.com/getify/youperiod.app#:~:text=yesterday-,README.md,-YouPeriod.app

[2022-07-04 20:33] staranbeer commented on #2
i read the whole thing except the very first line i guess.... :rofl:

[2022-07-04 22:43] getify opened #18 "Code of Conduct: need community leaders"
Please see my note here:

https://github.com/getify/youperiod.app/pull/10#issuecomment-1174441718

If this is interesting to you, please speak up, or reach out to me privately getify@gmail.com.

[2022-07-04 22:46] getify commented on #6
A lot of this is good. I don't think we need to overburden contributors with time frames or any of that sort of thing. The project is small and we don't have any of those problems (nor do I anticipate them), so let's simplify and remove the time frame stuff.

[2022-07-04 22:53] #8 closed

[2022-07-04 23:01] getify commented on #15
At a glance, I can certainly see why this would be attractive for this project, and I like the goals of that license.

I am however a bit reluctant to switch quickly to it. I have spent a long time in open-source, and strongly feel that well known and deeply studied licenses are important to standardize on. I have resisted the urge on many occasions to try to modify/author my own license text to t

[2022-07-04 23:02] getify commented on #7
I think this is covered in #6, let's consolidate discussion there.

[2022-07-04 23:02] #7 closed

[2022-07-04 23:02] getify commented on #5
@yepyeplabs I don't understand what you mean by "webhook" here. Can you elaborate?

[2022-07-04 23:04] getify commented on #11
I think #2 is tracking the UI design. Do we need a separate thread (this one) just for UX discussions separate from UI, or can we combine our discussion into that other thread?

[2022-07-04 23:29] aditiranka27 commented on #11
I think we can combine the two threads.

[2022-07-04 23:31] getify opened #19 "Need to document the tech architecture (so far)"
The app is currently (at time of this writing) a proof-of-concept for the registration/login/encryption portion of this app, involving Argon2 (WASM build) password hashing and AES-GCM 256-bit symmetric encryption/decryption. Data is persisted only in the client, using indexDB, while sessionStorage is used for tracking the login session (including storing temporarily the encryption/decryption key).

[2022-07-04 23:32] getify commented on #11
Great, everyone here, please move over to #2 and jump in! There's a figma project tracking some early design concepts, and plenty more to discuss and decide. Welcome!

[2022-07-04 23:32] #11 closed

[2022-07-05 01:24] yepyeplabs commented on #5
yes, it's a no-code term used to describe the ability to receive an HTTP request.

[2022-07-05 02:13] gioboa commented on #19
I would like work on this 😊 @getify if you are okay, I will start to document the actual flow and then we will evolve the structure

[2022-07-05 02:30] getify commented on #5
@yepyeplabs perhaps we might take the discussion to another thread, but... is that an http request that the **CLIENT** somehow receives? Or is it that your server handles it and forwards something to the client?

[2022-07-05 02:31] getify commented on #19
@gioboa ok, sure, take a pass at it. I imagine I'll be able to fill in some details/clarifications.

[2022-07-05 02:35] gioboa commented on #19
Do you have any favourite tool for this kind of documentation?

[2022-07-05 02:45] getify commented on #19
I was just going to write out the details in markdown, and augment with a few diagrams that I would typically draw in an SVG/vector program. But I am certainly open to any other contributions/ideas on how best to proceed.

FWIW, I think there is a fair amount of specific technical detail, such as the algorithms and parameters for the hashing and encryption, that I want to write down, and that stuf

[2022-07-05 03:49] Gynko commented on #5
I had a conversation with my girlfriend yesterday about features.
She mentioned:
- Having a calendar that shows when the periods started and how long they lasted. She mentioned she was especially focused on when the first day of periods was
- Annotate symptoms encountered during a cycle
- Stats: Time elapsed since the last periods (more precisely since the first day of the last periods, not the la

[2022-07-05 04:07] gkhedekar5758 commented on #3
@AbednegoTM I am also not in content wrting or copy writing, I am a developer so let me know if you need any help where a programmer can help. I am in for any help regarding HTML and JS for any page

[2022-07-05 04:35] gkhedekar5758 commented on #4
@rayblair06 Let me know if I can be of any help. may be we can have something on registeration page saying, 'Suggest me some pass phrase ! ' button that will help user to suggest a phrase using the same diceware algorithm as @getify suggested.

[2022-07-05 04:50] artmarydotir commented on #2
If we want to add multilingual functionality later. We must consider it in the main theme now.
we need a lang switcher in header.

[2022-07-05 04:53] Gynko commented on #2
@artmarydotir
Agreed :). You should mention this in the main features plan.
https://github.com/getify/youperiod.app/issues/5

[2022-07-05 04:58] sachinKumarGautam commented on #19
@getify @gioboa can I also chip in on this ?
Would like to be part of this whole project as well. I can start with this issue as well

[2022-07-05 05:55] Gynko commented on #4
Probably not super urgent at this point, but there is a feature request to be able to change the language of the app. Suggestion mechanism should include this aspect, and allow for left to right // right to left shift + special characters.

[2022-07-05 06:02] artmarydotir commented on #5
I don't know if this has been discussed or not.

But there is two main range
1: Period Length (average:7days)
2: Cycle length (average: 28days)

**Which is different for everyone.**
And we have to get this.
like we need a config section and first of all we should get these information. As long as we get close to the next period, let us know a few days earlier. ( send notification )
Or if we have e

[2022-07-05 06:18] pradeeps4ini commented on #5
If there is going to be multilingual functionality in the app, we should use logical properties and values in the CSS. They will help to design layout according to the flow on the text.

[2022-07-05 07:40] ricardoaguiar commented on #2
Hi everyone
Can I get the link for the figma files?

[2022-07-05 07:50] shambashib20 commented on #3
I am also present! I can contribute for Home, About pages as well.

[2022-07-05 08:07] uttej-vsk commented on #2
I think, what we are doing is a bold move with a bit of privacy to be in control of individuals. So why can't we have a bold theme with lots of imagery which would resonate with users for expressing themselves?

[2022-07-05 08:40] luisorbaiceta commented on #2
I have taken the references from @Gynko and started some design. I'll put it on hold till #5 is settled
![image](https://user-images.githubusercontent.com/44276180/177287090-f675b18b-5b63-4654-92db-b066123343f6.png)

[2022-07-05 08:51] baldarn commented on #15
Good points!

Here is a list of projects currently using the license
https://firstdonoharm.dev/adopters/

And here a list of FAQs
https://firstdonoharm.dev/learn/

I think that freedom is having the ability to do what has to be done, not the ability of doing anything.

[2022-07-05 09:40] novonimo commented on #18
I proudly announce my readiness for this work

[2022-07-05 10:00] AbednegoTM commented on #18
✋ I am interested.

[2022-07-05 10:41] aashimaahuja commented on #3
I can also help with the about page. The draft content is already posted up there.

[2022-07-05 10:55] ricardoaguiar commented on #6
How about branches? Are we going to create feature branches to dev and then to main?

[2022-07-05 11:37] Gynko commented on #2
Like I said on the Figma workspace the designs of @luisorbaiceta are really spot on.
The colors and mood, the simplicity are really working imo. @aditiranka27 do you think that the tones work as well?

I do like the idea of boldness that @uttej-vsk  mentionned.
I thought of the motto: "Your body. Your data. Your choice." which probably could resonate with the strange things happening in the US at

[2022-07-05 12:24] getify commented on #19
Right now I'd suggest we focus to one draft which I (as the primary coder so far) can provide the best info on, to get documented what we have so far. @gioboa you already volunteered to get that draft so please keep doing so.

For others wanting to contribute in this area, perhaps you can take over maintaining that for future tech documentation purposes as the app evolves from here.

[2022-07-05 12:27] getify commented on #6
@ricardoaguiar good question. we probably do eventually want some standardization of such process, but it's maybe too early to be too detailed/prescriptive.

Perhaps a general statement like added like: all code work is done in branches, with PRs and reviews, and core project maintainers are responsible for merging into the main trunk.

[2022-07-05 12:30] getify commented on #2
@luisorbaiceta good idea, can you make a PR for adding the link in the appropriate section (probably under "For Developers" or maybe a "Contributing" sub-section) of the README? :)

[2022-07-05 12:35] getify commented on #2
On designs and graphics, lets make sure we consider inclusivity where reasonable. Not all utereus-having people identify/project publicly as women. If all the graphics show traditional representations of women-identifying individuals, this might feel a little exclusive of others who don't. Delicate balance to strike, for sure, but let's try to either be inclusive in such imagery or simply avoid im

[2022-07-05 12:47] getify commented on #2
On the word "choice" (in a tagline/motto), I want to be careful not to create too much division in the hot-button "pro life" vs "pro choice" debate. I know we wouldn't mean "choice" in that sense, but it could certainly *feel* like that message is being sent, which I don't want.

I want for anyone on all sides of such an issue to feel comfortable using this app for any of their own personal reason

[2022-07-05 12:51] getify commented on #2
I named the app "You" (not "Your") -- which grammatically is a bit more awkward for mottos, admittedly! -- with more active phrases in mind that emphasize the "You" (person) directly.

I had hoped that naming theme could carry throughout the app, not just the tagline but into feature names, etc.

For example, "For You", "You Decide", "You Own", "You Control", "Only You", etc.

In fact that's where

[2022-07-05 13:11] Gynko commented on #2
@getify  All these points make sense!
I am especially looking forward to work on how we will tackle the full inclusivity aspect, and see which symbols, wording and images that we will choose.

[2022-07-05 13:12] getify opened #21 "Need to discuss POSSIBLE server-oriented features"
I already have a growing list of capabilities/protections that an app like this *could* include, but which would require moving beyond simply a static file server into a more specifically tailored and integrated server.

This of course opens up a whole list of additional complexities/downsides, including cost, maintenance, security, governmental interference, etc. That means we should be very wear

[2022-07-05 13:32] aditiranka27 commented on #2
@Gynko the tones are really spot on, I really like @luisorbaiceta 's designs.

[2022-07-05 13:37] aditiranka27 commented on #2
I totally agree on this part, let's not get the debate started and make this app accessible for all whether pro life or pro choice.

[2022-07-05 14:02] artmarydotir opened #22 "App on F-Droid"
I know this is going to be a PWA APP.
i was thinking that we can have a **TWA** from PWA, and since this is going to be open source, we can put it on  F-Droid.
What do you think, can we think about this too?

[2022-07-05 14:12] getify commented on #22
I definitely plan to package it as a TWA for the Google Play store. Not sure what Fdroid is, but I would imagine we can publish it there.

[2022-07-05 14:23] artmarydotir commented on #22
F-Droid is an app store for Android, similar to the Google Play.
But contains only free and open source apps.

[2022-07-05 14:28] staranbeer commented on #2
hey! i think we have a decent looking ui at this point, should we start working on the markup and css for layouts or should we wait a bit more?

[2022-07-05 14:39] artmarydotir commented on #2
I was thinking before jumping to the designing:
**first** talk about the **user flow.**
think about the **entities** /**categories**/ **Authentication**/ **menu**, .....
without having a flow we cant have a proper UX.
And Designs must be prioritized. something must design before the other things ( like a user profile ) OR setting and etc.
And the dashboard should be the last thing to implement.

[2022-07-05 14:43] rayblair06 commented on #4
@gkhedekar5758 that is a good suggestion and thanks for the offer of help. At the moment I am just looking at functionality of getting something basic done and either the design will get absorbed by people helping with that or an additional issue/PR will be created for that work (as I believe the passphrase suggestion functionality will be completed well before design work has been completed).

@G

[2022-07-05 14:45] uttej-vsk commented on #2
It is better if we get into the shoes of probable target audience:

They might know about this website either from social media or google search.

Once they click on the link or download this app, they must be presented with “Home Page”.

Then scroll down to find information about what exactly we are talking about.

Once they are convinced and confident about this app, they might reach out for log

[2022-07-05 15:24] mendo94 commented on #2
Hi Kyle! I found you on Linkedin and am beginner to intermediate level in javascript and was hoping to get better by working on your project!! I am commenting here to get the permissions.

[2022-07-05 16:28] detronetdip commented on #21
Hi @getify I was thinking about implementing bio metric authentication ( bio metric data as unique identifier ) on server so that someone could prove, from a new device, that they are authorized to retrieve/decrypt that data.
What is your thought on that, please let me know.

[2022-07-05 17:14] laurelthorburn commented on #2
Love the softer tones @luisorbaiceta's figma design offers.  My first thought for overall design is there is a lot of red and when I'm on my period, I see plenty of red.  @aditiranka27 made a good point on cool, calm tones.  For me, I favor the greens and blues, for example, instead of an entirely red/pink color scheme.

[2022-07-05 17:17] rpalaciosg commented on #2
Hi Kyle, I found your post on Linkedin, and I would like to improve my Javascript by working or helping on this project. I'm looking forward to updates.

[2022-07-05 17:32] rpalaciosg commented on #6
@prabhpreet-code I want to add, I think it is important to have a good syntax in the commit messages following
[Conventional Commits](https://www.conventionalcommits.org/), you could add husky to validate this with git hooks in pre-commit. I think it would be good to do it now that the project is starting.

[2022-07-05 19:08] AbednegoTM opened #24 "Include project roadmap"
#### Is your feature request related to a problem? Please describe.
There are number of features and processes that have been proposed at a lower level. I believe it is as important to have a high level overview of the project direction. It can help to address certain areas like:
- High  priority features
- Features to be worked on next
- Features currently being worked on
- Versioning systems
- T

[2022-07-05 20:47] artnerdnet commented on #5
I just wanted to add a +1 on the notifications!
I really like the fitbit tracker because apart from notifying me when my period is coming, it shows me how many days left when I open the app. If I don't log it, a day after it was supposed to start, it will ask me if I got my period.
It would be also be very helpful to have a notification if the person haven't logged the end of the period, for examp

[2022-07-05 21:03] artnerdnet commented on #2
I was about to write the same hehe, with my crazy period's mood swings I will feel like a bull, the design looks very cool otherwise! So would it be possible to have the same design with a different color schema? Blue sounds good, I want to throw purple in here in case no one thought of it, maybe combo it with some creamy white.

I would love to see an onboarding screen like @uttej-vsk said. Pleas

[2022-07-05 21:05] jzombie commented on #21
You could sync from device to device over WebRTC and skip it from storing on a server altogether.

Even better yet, just allow people to run their own servers instead of having a centralized one.

[2022-07-05 21:08] jzombie opened #26 "Localization"
#### Is your feature request related to a problem? Please describe.
Will the app be offered in multiple languages?

#### Describe the solution you'd like
I see the app is framework-less, and am curious about internationalization techniques which will be used here.

[2022-07-05 21:10] jzombie commented on #19
I think this is a good case for unit / integration tests, unless you want to run through every single edge case scenario whenever anyone changes anything.

[2022-07-05 21:24] artnerdnet commented on #2
Sorry for commenting again, I sent my request to join the figma board.

I would like to propose to work on each screen separately if we have the time to do so, because I think that, for example, working on the calendar might seem like an easy task but doing it right can really make a difference. I've been looking at some designs and there are many ways of doing this:
https://dribbble.com/shots/141

[2022-07-05 21:27] artnerdnet commented on #18
hey there, I'm interested

[2022-07-05 22:01] aditiranka27 commented on #2
I agree with @artnerdnet "As a user if the app doesn't look nice I would never use it even if it's the best app in the entire world 🙈". With that in mind I do like the first(flo) design and the third one too. Especially with the third design I like the color schema as @laurelthorburn and @artnerdnet mentioned with using blue/green, purple/creamy white. Even a mix of pastel shades as in the third d

[2022-07-05 22:21] AbednegoTM commented on #3
Looks good , you can use this format . I noticed some parts of the server may use strategies that make use of personal information to protect the same information , that means some sections I have listed below may need to be filled. some May just need a few words like  WE DO NOT COLLECT / TRACK. Just a suggestion open to discussions.

Privacy Policy
Welcome to  YOU .

This policy is effective as o

[2022-07-06 01:46] getify commented on #26
It's a good and useful question. I suspect we should push this complexity off to a later phase of work.

[2022-07-06 01:57] getify commented on #18
I think it's important that the leaders group have multiple women involved. Can those of you here who are interested please share if you identify as a woman, or in other traditionally under-represented groups?

I'm a white male (as my avatar depicts).

[2022-07-06 02:24] aditiranka27 commented on #18
I am interested. Count me in!

[2022-07-06 03:31] emmanuelonah commented on #6
Was not sure where to comment this; I think we need a conversation thread 🧵 under the issue section where people can suggest what they think be in the system. That way everybody do not create an issue. Because so far, I have seen that the issue are create by **Kyle** and that makes sense to me. So if this makes sense, I suggest Kyle should create a thread title **idea/feature suggestions**

[2022-07-06 03:36] emmanuelonah commented on #6
This are base feature I think we should also have:

1. Before contributions get far, let's setup eslint, prettier and husky.
  Eslint - for code structure enforcement (we could use Airbnb or any other)
  Prettier - for code structure correction
  husky - to ensure code style is followed before living developer machine to GitHub server

2. I suggest we build our reusable accessible navigation templ

[2022-07-06 05:00] gkhedekar5758 commented on #3
I can work on a hamburger menu (css) and have the pages wired up

About
Privacy
Registration
Login
Dashboard (once logged in)

then we can wire up html behind this menus the actual pages and write up at least for About and Privacy page. Let me know what you all think

[2022-07-06 05:55] yngrdyn commented on #2
Hello @getify, I got here by your LinkedIn post and I'd love to contribute =D
Please give me access to the figma file

[2022-07-06 06:04] prabhpreet-code commented on #6
@ricardoaguiar sorry to inform you that am not well-versed in using husky... so you are good to go to implement it. Till then I would also love to learn more about it :)

[2022-07-06 06:14] artnerdnet commented on #18
I'm female and latina

[2022-07-06 07:20] emmanuelonah commented on #6
@rpalaciosg apart from husky, I think having both eslint and prettier is necessary

[2022-07-06 07:20] artnerdnet commented on #6
I have experience with husky so I can help too, and I can start by setting up eslint and prettier

[2022-07-06 07:33] artnerdnet opened #27 "Privacy beyond data concerns"
#### Is your feature request related to a problem? Please describe.
It would be nice to have some kind of protection on the app itself.
What do I mean? Anyone can go through your phone and access the app. For example, I'm thinking how customs have the right to go through your phone without a warrant in an airport, or if you are in an abusive relationship they can do the same. Are there any proposa

[2022-07-06 07:46] emmanuelonah commented on #6
@artnerdnet cool, let's wait to hear from @getify on which eslint coding standard to use.

[2022-07-06 08:30] prabhpreet-code commented on #18
I'm a brown male and my religion is Sikhism.

[2022-07-06 10:10] nemanjaglumac opened #29 "Define and set the code style early on"
#### Is your feature request related to a problem? Please describe.
Define the code style from the beginning of the project (aka now or ASAP) and set the guards that would "enforce" it. This has multiple benefits:
1. It will remove opinionated debates and potential flame wars
2. It will streamline contribution
3. It will save A LOT of time for both contributors and code reviewers by preventing red

[2022-07-06 10:32] nemanjaglumac opened #30 "Use GitHub Discussions to build the community"
#### Is your feature request related to a problem? Please describe.
People will have a lot of questions about this project as it starts growing. Both the contributors and the potential users of the app. Using Slack for discussion is a common practice but it has many downsides and can be overwhelming for people who are not used to using it.

Also, if the key value of this app is privacy, Slack is p

[2022-07-06 11:24] detronetdip commented on #29
@nemanjaglumac I will add basic lint checking.

[2022-07-06 11:27] nemanjaglumac commented on #29
As I mentioned in the description, https://github.com/getify/youperiod.app/pull/28 is already up and is dealing with this. Feel free to contribute with suggestions.

[2022-07-06 11:34] detronetdip commented on #29
@nemanjaglumac ok set all the formatting rules.

[2022-07-06 11:47] getify commented on #27
This protection was the very first thing I built here, it's feature number 1, and it's already solid and tested.

The app uses a passphrase to "login"... and it uses this passphrase to derive (via argon2) a strong encryption key, so the data is always encypted "at rest". And only a hash of the password is stored on disk (different from the derived key) to verify login.

The derived decryption key

[2022-07-06 11:57] getify commented on #30
Just curious your thoughts... How will having discussions out in the open be "more secure" than say on an invite-only discussion board like slack?

[2022-07-06 12:22] nemanjaglumac commented on #30
Those are two separate topics and I might have introduced a confusion by even mentioning privacy here.

Basically wanted to say that I wouldn't put trust in Slack as a company when it comes to the privacy. However, they are the go-to tool for the huge majority of eng projects, so... it makes sense to gravitate towards that solution.

As the title suggests, using GitHub Discussions is helpful in bu

[2022-07-06 12:27] getify commented on #29
Beyond the settings in this small prettier config, what "defaults" does prettier apply? Moreover, if the prettier config extends editorconfig, and it's set to closely match the existing code style (which is mine, and which I think is *fairly* consistent throughout), then why would there be a huge code diff once prettier is applied? It should be a minor couple of things here and there.

I don't per

[2022-07-06 12:31] getify commented on #29
The same reasoning applies above to eslint. I have a personal eslint setup that I use -- I run it manually on-demand rather than constantly nagging me during code editing -- to help me catch some things I care about.

But just like I wouldn't force everyone to use exactly my same coding style just to contribute, I also don't think they should necessarily have to use my exact linting ruleset.

In m

[2022-07-06 12:35] getify commented on #29
For example, with linting, I personally have some rules I use (and some I wrote!) around things like nested ternaries. The code that I will contribute, will very likely adhere to those rules (although I sometimes deviate from my own rules).

But someone else who uses ternaries, might be able to do so in a slightly different form, and still be reasonable and useful code. I don't want to have to cha

[2022-07-06 12:47] getify commented on #29
I hope these comments are not taken as dismissive or discouraging. I appreciate the effort being put forth to find meaningful ways to help this project, and I also understand and respect the feelings many have about why these sorts of tools/processes are so important, given their experiences on (probably large) teams and (probably complex) enterprise apps.

I am not even saying a "hard no" to any

[2022-07-06 12:51] getify commented on #30
Got it. Thanks for the clarification, was hoping to make sure I hadn't missed something.

With respect to "Github Discussions"... what does that feature entail (I'm not familiar with it)? How do you see it working differently from the issue threads we have already? Same questions with wikis and/or GH pages?

I'm generally quite happy and willing to use all these various GH features, but I would li

[2022-07-06 13:09] rpalaciosg commented on #6
Hi @artnerdnet, depending on what Kyle says about this, how about if I work on the husky configuration and you work on the prettier and eslint part? I was working on a PR.

[2022-07-06 13:11] getify opened #31 "Need to implement "persistent storage" capability"
Need to implement JS functionality (and some UI and carefully considered wording to the user) around opting the storage of this app (indexDB) into "persistent storage" mode.

More info here: https://web.dev/persistent-storage/

This is a tricky piece of functionality, because how it works and how it appears to users varies cross browser, and it can also sound a little "scary" to users -- like in v

[2022-07-06 13:12] getify commented on #6
I shared thoughts on this topic in #29. We should probably consolidate discussions of this into one thread or the other, to prevent fragmentation of thoughts.

[2022-07-06 13:45] narayanasuri commented on #2
Hey @getify here from your LinkedIn post. Great initiative, looking to contribute to the front-end whenever I have time. 😄

[2022-07-06 13:48] nemanjaglumac commented on #29
Two of the most common "rules" that I'm not aware that editorconfig can set are:
1. automatic semicolon insertion
2. single vs. double quotes

While forgetting to use semicolon can be even dangerous in some cases, single vs double quotes is more a stylistic thing used merely for consistency. From my experience, this is where most developers tend to disagree (apart from tabs vs spaces).

Here's a p

[2022-07-06 13:52] rpalaciosg commented on #5
I want to add something to the comments, my wife mentions that an option could be added that allows to say if during the Cyclo an emergency anticopseptive was taken and to be able to control (calculate in the future) in those cases, usually not always and not to everyone it usually brings hormonal changes and starts an irregular Cyclo.

[2022-07-06 14:23] getify commented on #27
FWIW, there's a web API we might decide to use: https://developer.mozilla.org/en-US/docs/Web/API/Credential_Management_API

This allows an app to manually put credentials into the browser's credential store. Unfortunately, I think I've heard that some browsers (like Chrome?) keep stored credentials in plain-text on disk. We should do some research to validate if that's true, and under what circums

[2022-07-06 14:30] getify opened #32 "Need: logo and favicon"
Related to #2.

I kinda like the logo I originally designed for this, as can be seen in the attached image. But I'm not deeply attached to it. If someone comes up with some good variations on logo, we can certainly discuss them here.

<img width="185" alt="youperiod-logo-screenshot" src="https://user-images.githubusercontent.com/150330/177574622-1212f577-5299-4423-acc2-170ea2ca6cb5.png">

More imp

[2022-07-06 15:00] detronetdip commented on #32
Do you want to put `YOU.` in the logo or it can be `U.` and do you want to use red and black only?

[2022-07-06 15:09] getify commented on #32
I definitely want "YOU" (or "You" depending on the typography) and an an enlarged dot/period. I think the red period communicates some of the meaning of the app, subtly, but if it's a little too harsh or "on the nose", I am not deeply attached to those colors.

I do think it's important that the "YOU" and the dot be distinctly different colors, so the dot is not easily overlooked. I want the app t

[2022-07-06 15:13] getify commented on #32
Side note: I spent quite a bit of time trying to find an appropriate unicode character to use for the dot/period that was larger but still bottom-aligned. I found several characters, but they were all middle-aligned vertically.

The reason that matters is, both from a semantic HTML/text perspective, I'd like there to be a different character than just "." in the text. Also, annoyingly, we can't re

[2022-07-06 15:28] getify commented on #32
I don't know whether a blood drop will be a little too .... forward .... too literal. Depends on the design, but I'm not sure someone will see a blood drop and think the word "period", rather than "you blood" or "you drop".

[2022-07-06 15:33] detronetdip commented on #32
No I was just thinking about that because it's a bit related with  what we are making.

[2022-07-06 15:49] getify commented on #32
It might work to have a blood drop in the design somehow... not sure. Or it might confuse the user who might assume this is an app for tracking blood draws or blood sugar measurements.

[2022-07-06 15:50] aditiranka27 commented on #32
I agree with @getify, a blood drop would be too much and too literal (imo I would not want see any blood drop images in the app). I would suggest with sticking to "YOU." for the logo design and keeping the "." only to Red color. (the red color should only be used to depict the "." in the app. For the overall design and color schema, it is being discussed in #2, keeping cool/calm tones with blue/gr

[2022-07-06 16:30] detronetdip commented on #32
![1](https://user-images.githubusercontent.com/64276906/177598429-9b96b724-ec62-45e8-b1e1-fe68cd682edb.png)

@getify  Can I use this font for the logo?

[2022-07-06 17:44] getify commented on #32
I'd like us to play around a bit with the font weight... that font seems pretty light, and the smaller it is, it may be a little harder to read or less contrast. Also, perhaps this is a case where the lighter the font, maybe the lowercase "ou" looks better? Not sure.

Definitely think the period needs to be much more prominent in size compared to the "u" it's next you, some of which depends on the

[2022-07-06 18:26] Arushisingh23 opened #33 "some basic pages needis there"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

#### Describe the solution you'd like
A clear and concise description of what you want to happ
#### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

####

[2022-07-06 19:01] birant commented on #27
@getify What do you think of a kill-switch pass phrase that is different than your normal pass phrase? If this kill-switch pass phrase is entered it deletes/corrupts/randomizes/sets a predefined state. I think this might be useful if user is forced to give the password.

[2022-07-06 19:04] getify commented on #27
@birant Sounds like a great feature idea!

[2022-07-06 19:04] #33 closed

[2022-07-06 22:26] getify opened #35 "Documenting project/technical philosophy"
Figured I should explicitly write out several things that may be helpful to reference in terms of technical decision making going forward:

1. I'm NOT going to act as a dictator (BDFL) for this project. Right now I'm the main/only core maintainer, and I own the server (and paid for the domain and SSL certs and upgraded DNS + DNSSEC). But those are, in my mind, temporary conditions that currently p

[2022-07-06 23:00] nemanjaglumac commented on #30
### Discussions

Here's [Discussions page](https://docs.github.com/en/discussions) with a 60s video explainer.

And this quote is from a [quickstart page](https://docs.github.com/en/discussions/quickstart#welcoming-contributions-to-your-discussions):

Many non-technical users do not really understand "issues", but mostly everyone is familiar with forums / BBs / chat groups.

Discussions have threa

[2022-07-06 23:07] getify commented on #30
They might be a much better place for freeform conversation that is not necessarily related to any technical aspect of this repo.

OK, got it. Let's try it out here. I just converted this to a discussion: https://github.com/getify/youperiod.app/discussions/36

[2022-07-06 23:16] nemanjaglumac commented on #30
https://github.com/getify/youperiod.app/issues/5 seems like a good candidate for an "💡 Idea" category in discussions.

[2022-07-06 23:22] #21 closed, assigned to nobody

[2022-07-06 23:25] getify commented on #30
OK, I've converted several threads to discussions. Let's see how that goes, and we can perhaps revisit this after a bit to see if we like the direction or not. :)

[2022-07-06 23:25] #30 closed

[2022-07-07 06:33] detronetdip commented on #32
@getify  I have added a few `You.` with different font style in the `Brainstorming` project.

[2022-07-07 06:57] artnerdnet commented on #24
good point, we can also use the project tab here on GH to give visibility to the the user stories and who's working on what

[2022-07-07 10:02] piterjov opened #43 "Need more info on what project is about."
I don't know if I'm missing something, but cannot find a page about what the project does exactly?

Thanks

[2022-07-07 11:27] gkhedekar5758 commented on #3
How about this menu? uploading pictures . we can start with "about us"  and "privacy" page HTML and wire them up behind this. uploading some screenshot. The menu comes up from the top of the screen in transition

let me know how it looks @getify @AbednegoTM @5hraddha @kirankok . Always open to suggestion

![full screen laptop](https://user-images.githubusercontent.com/26604711/177762044-c30d671c-9

[2022-07-07 14:50] getify commented on #6
Another thing to add to the contributions guidelines is to have contributors [review this writeup](https://github.com/getify/youperiod.app/discussions/36) for the technical decision making philosophy/principles that I'm currently applying to shepherding this project. It's important that all contributors understand the underlying reasonings and that they roughly agree to abide by them for the curre

[2022-07-07 14:51] getify commented on #6
Let's aim to have the contributor guidelines 1.0 solidifed by EOD tomorrow (Fri July 8), so that by early next week ideally we have everyone involved here having reviewed and agreed to it. We'll probably do so via a "Poll" feature under github discussions, where we just ask everyone to read the guidelines and then "vote" that they agree.

[2022-07-07 20:07] piterjov commented on #43
Thanks, guys, I was thinking more of the vision and goals of the app.

[2022-07-07 22:18] getify commented on #43
From the linked-in post where I first announced this project:

[2022-07-07 23:08] getify commented on #24
We don't have a roadmap yet. The project is just getting underway.

[2022-07-08 03:07] gioboa commented on #43
I think we can add this description in the README.md to explain what the application does

[2022-07-08 04:50] eireann07 commented on #3
I have two suggestions:
1) As someone who has lots of family in medicine, I think we need a clear indication of HIPAA policies (and similar for non-US based users, but starting with HIPAA).
2) Related to the educational section about menstruation: As a menstruator, I can confidently tell you that something we're never told is hour various contraceptives interact with our periods. I feel that is ex

[2022-07-08 07:17] jsonjunkie commented on #3
anywhere i can jump in on this or is this issue completely covered? also is there something like a kanban/trello board?

[2022-07-08 10:49] biswajitxxxx commented on #3
Okk

[2022-07-08 10:50] biswajitxxxx opened #45 "Bug report"
#### Bug description

#### Expected result

#### Actual result

#### Steps to reproduce

1.
2.
3.
#### Context

#### Your Environment

* Version used:
* Browser Name and version:
* Operating System and version:
* Link to your project:

[2022-07-08 10:50] biswajitxxxx opened #46 "Feature"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

#### Describe the solution you'd like
A clear and concise description of what you want to happen.

#### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

#

[2022-07-08 10:51] biswajitxxxx commented on #46
Okk

[2022-07-08 12:36] #45 closed

[2022-07-08 12:38] #46 closed

[2022-07-08 13:05] getify commented on #3
@eireann07 thanks for the suggestions. I especially like the idea of good educational text, or at least links pointing users to good sources.

Regarding HIPPA:

1. I recently learned that HIPPA strangely and disturbingly does not apply to things like period trackers, personal fitbits/health trackers, etc. Since the law doesn't cover any of the kinds of data this app collects, I don't think we need

[2022-07-08 13:14] getify commented on #3
@jsonjunkie (and everyone else)...

the project is still early self organizing. Not yet any official work assignments or project roadmaps or anything like that.

The issues list, and GH discussions list, is currently the source of truth for what work we're discussing, and what tasks we're tackling.

If younsee something you think needs to be done, and want to do it, please just do so. There's no o

[2022-07-08 14:15] getify opened #48 "Adding a couple of needed features to the base proof-of-concept"
For the live proof-of-concept that's running on YouPeriod.app, I'm going to add a few simple (but important) features:

1. Add some basic popup messages to confirm success of saving data, or displaying any error message (instead of only in the console)

2. Add a "change passphrase" feature, which -- more complicated than it seems! -- has to upgrade the stored login-challenge AND safely re-encrypt

[2022-07-08 23:42] #48 closed

[2022-07-08 23:42] getify commented on #48
This work is complete and being deployed to the live site.

[2022-07-09 06:27] detronetdip commented on #31
Can I work on this feature?

[2022-07-09 12:01] getify commented on #31
Yes, if you'd like to add it to the existing client code, that might be useful effort/exploration.

[2022-07-09 15:53] getify commented on #29
We'll revisit this perhaps at a later time.

[2022-07-09 15:53] #29 closed

[2022-07-09 15:53] getify commented on #22
We'll definitely do this, but there's no work to do right now. Closing for the time being.

[2022-07-09 15:53] #22 closed

[2022-07-09 15:56] getify commented on #1
Just for clarity... this isn't really needed too early on. In fact, SW's kind of make rapid development more annoying. If we build it soon, we need a flag in the code to disable it for awhile, and only re-enable it towards the later stages of getting ready to publish the polished 1.0 of the app (and package for app stores, etc).

Don't mean to discourage doing this work, it's relevant work for sur

[2022-07-09 15:57] getify commented on #43
I think most of the info necessary to explain the project is in the README, and I think other supporting docs (like the specs, the technical philosophy writeup, and even the contribution guidelines) help fill in the details.

There will eventually be a "product roadmap" which will help, too. But for now, I don't think there's more work to do on this issue, so closing for the time being.

[2022-07-09 15:57] #43 closed

[2022-07-09 15:59] getify commented on #24
Just to clarify, we *will* have a project roadmap eventually... probably in the next 1-3 weeks. I hope that @pselle's work to help us organize what we're doing here will help make that a reality. But since there's nothing immediate to do in this regard, going to close for now.

[2022-07-09 15:59] #24 closed

[2022-07-09 16:00] getify commented on #6
We have the code-of-conduct rolled out, so that's a big step.

Let's try to finalize the rest of the contribution guidelines soon. Who's working on what in that respect?

[2022-07-11 02:53] pselle opened #50 "Add Privacy Policy page"
Add a privacy policy page. This issue: https://github.com/getify/youperiod.app/issues/3 has some initial copy suggestions.

If you would like to work on this issue, please go ahead and open a PR, ensuring your PR mentions "closes #50 "

[2022-07-11 02:56] pselle opened #51 "Add About page"
Add an about page. This issue: https://github.com/getify/youperiod.app/issues/3 has some initial copy suggestions.

If you would like to work on this issue, please go ahead and open a PR, ensuring your PR mentions "closes https://github.com/getify/youperiod.app/issues/51"

[2022-07-11 02:56] pselle commented on #3
Hi all! I'm closing this issue and creating more specific issues so they can be picked up more easily. Please see issues linked to this one for contributing!

[2022-07-11 02:56] #3 closed

[2022-07-11 03:17] pselle commented on #6
I opened a PR with a CONTRIBUTING.md. It seems most of the discussion here was related to Code of Conduct, which is solved, so the file added is very lightweight.

[2022-07-11 03:30] pselle opened #53 "Add calendar"
Add calendar to app.

- The calendar should highlight today's date
- The user should be able to navigate into the past in the calendar

Possible considerations:
- A date on the calendar may have a different display if there is a period logged for that day in the data
- A date may have a different display if it is a projected period date

[2022-07-11 03:35] pselle opened #54 "Allow users to track period date"
Add "Track" capability, where user will log bleeding for a specific date.

Considerations:
- Bleeding is the first thing to track, but other tracking will be added in the future
- This needs to be able to be considered into calendar display to display logged periods on the calendar

[2022-07-11 09:25] gioboa commented on #53
Here we have a [figma](https://www.figma.com/team_invite/redeem/RGRbYTgALoGkzWFAPiIvKX) project to track the design

[2022-07-11 09:25] gioboa commented on #54
Here we have a [figma](https://www.figma.com/team_invite/redeem/RGRbYTgALoGkzWFAPiIvKX) project to track the design

[2022-07-11 09:39] logic-01 commented on #53
Was trying to lookup the figma page but was not able to see anything even after login.

[2022-07-11 09:55] rzvl commented on #51
Interested to work on this. Just created a PR.

[2022-07-11 10:13] gioboa commented on #53
Inside YouPeriod team
<img width="233" alt="Screenshot 2022-07-11 at 12 12 03" src="https://user-images.githubusercontent.com/35845425/178241987-4f4e1ca1-b8ab-4e19-a1de-729204669bf0.png">
I have two figma designs 🤔

[2022-07-11 14:00] shaghayegh1337 commented on #53
hi, can i work on this?

[2022-07-11 14:01] shaghz commented on #53
hi, can i work on this?

[2022-07-11 15:33] pselle commented on #53
@shaghz No need to ask before starting work

[2022-07-11 16:53] #6 closed

[2022-07-11 17:08] rzvl opened #56 "Add a prettier configuration file"
Since each developer uses a different style to format his/her code, the code may look more and more inconsistent as the project grows.

I think having a prettier config file, at these early stages, would help to keep the code consistent and more readable in future.

[2022-07-11 17:15] asheerrizvi commented on #50
Do we have some rough draft for the contents of this page? The text within #3 looks incomplete.

[2022-07-11 17:23] getify commented on #56
This has already been discussed, please search the closed issues/prs.

[2022-07-11 17:28] rzvl commented on #56
Oh yes. I see it now! Sorry, I didn't notice that...

[2022-07-11 17:29] rzvl commented on #56
done

[2022-07-11 17:32] getify commented on #56
We may revisit later, but closing for now. Thanks.

[2022-07-11 17:32] #56 closed

[2022-07-11 20:39] pselle commented on #50
Nope, there is no other document. Feel free to research and propose in a PR!

[2022-07-12 01:21] getify commented on #32
I messaged with the logo in the figma project, and also toyed with a similar ideas for the favicon. Thoughts here?

<img width="398" alt="youperiod-logo-favicon-idea" src="https://user-images.githubusercontent.com/150330/178387382-66c80a95-4fbb-46c0-bb82-4225babd3f1d.png">

So there would be a white circle (no border) behind the "u." which is the same font from the full logo. The period is overlay

[2022-07-12 06:11] getify opened #58 "Need: feature tests for minimum APIs needed by user's browser"
We'll need to feature-test the browser someone uses, and warn them if they're using one that doesn't have the required APIs, that they unfortunately cannot use the app.

Here's the critical ones I can think of:

* [WASM](https://caniuse.com/wasm)
* [ServiceWorker](https://caniuse.com/mdn-api_serviceworker)
* [Worker](https://caniuse.com/webworkers)
* [IndexedDB](https://caniuse.com/indexeddb)
* [s

[2022-07-12 16:42] getify commented on #32
I don't want to use "u" for the logo. fine with it in the favicon.

[2022-07-13 02:14] eireann07 commented on #51
I have some content about the education side as previously mentioned in a now-closed issue (about periods for those who have not started their period yet, things that can disrupt periods, how certain contraceptives affect periods, etc).

Would this be a good place to develop that, as its a sub-about page? Just wondering, since the previous issue has been closed.

[2022-07-13 02:15] getify commented on #51
Let's default to building each page as its own separate standalone page... we DO still need to do some "information architecture" where we plan out the organization of what gets grouped under what. But that shouldn't block doing the actual page content.

[2022-07-13 03:41] eireann07 commented on #53
Probably something for further down the road, but this should also consider flow (eg, heavy vs light days), since that can be essential for diagnosing conditions like endometriosis...if the user is aware they've had an abnormally heavy flow for x days, that can help alert them to getting help.

[2022-07-13 18:03] closuresandcoffee commented on #58
I am going to pick this up and run with it. Question for you @getify, what version of node are you all using? I want to write a test spec file alongside my feature code, but [that is only supported in v18.5.0](https://nodejs.org/api/test.html). I also don't want to install any dependencies as I know you are all trying to avoid that. 😁

[2022-07-13 18:07] getify commented on #58
Assume Node 16 for now. Build dependencies are not as troublesome as run-time dependencies, though we do want to avoid too much build complexity just so we keep thr barrier to contribution (setup) low.

As for testing, please see this discussion: https://github.com/getify/youperiod.app/discussions/57

[2022-07-13 18:09] getify commented on #58
Assume Node 16 for now. Build dependencies are not as troublesome as run-time dependencies, though we do want to avoid too much build complexity just so we keep the barrier to contribution (setup) low.

As for testing, please see this discussion: https://github.com/getify/youperiod.app/discussions/57

[2022-07-13 19:47] jzombie opened #60 "Discovery: Use WASM backend"
I just happened to stumble upon this video:  [Building a Containerless Future with WebAssembly](https://www.youtube.com/watch?v=vqBtoPJoQOE).

It might be related to what you're building here.

WebAssembly is the future of distributed computing. Its security, memory isolation, small footprint, and true portability are all advantages on the web, but become truly game-changing when used to build fun

[2022-07-13 19:52] getify commented on #60
I don't think this relates to what we're up to. For one, we're not going to have a backend at all. For another, we want the frontend client to be as open and code-visible as possible, so sticking most or all of our code into WASM seems counter-productive.

We are already using an inline WASM module for the password hashing (Argon2), but I don't see us doing much more with WASM in this project, at

[2022-07-13 21:02] eireann07 opened #61 "Add Education page"
Add an education page.

Need a page that would seek to educate users on topics related to menstruation cycles including:

- What to Expect for those who have yet to have a period, or those who have only started their periods (some content in the post below)
- How contraceptives (eg, the Pill, mini Pill, IUDs, implants) affect menstruation
- Postpartum menstruation for those who have recently given

[2022-07-13 21:10] eireann07 commented on #61
Possible draft content for what-to-expect for those who only recently started their period, or may be starting their period soon.

*(Full disclosure, I'm not a doctor, so if you're a medical professional, please correct!)*

If you haven’t started your period yet, all of this probably sounds extremely intimidating! We understand. Sometimes, the amount of information you’re given about your upcoming

[2022-07-14 01:47] getify commented on #60
If I'm missing something, I'm happy to be corrected. We already do the password hashing (argon2) in WASM, and we do the encryption using the built-in webcrypto. And we have all the appropriate security headers applied from the server to prevent any sort of XSS, CORS, unauthorized code (CSP and Subresource Integrity).

Can you elaborate on what you imagine could be more secure about our current cli

[2022-07-14 12:57] jzombie commented on #60
Also, I think you should be encrypting all of the data going over postMessage as well, if you're not doing so, and checking the origin on the receiving side.

To really trust a system, it would have to be majorly locked down in my opinion.

I say this because I have such a need for one myself.

[2022-07-15 18:14] AbednegoTM commented on #54
I can help building this feature

[2022-07-15 19:52] rahulpsd18 commented on #61
Hi @eireann07, thanks for this detailed info. Great starting point, I'll get started on an `Educate` page with the current info.

[2022-07-15 20:55] getify commented on #61
@eireann07 The content seems absolutely fantastic, thanks so much!

@rahulpsd18 Thanks for volunteering, but let's let @eireann07 build this page (if desired)

[2022-07-16 00:39] eireann07 commented on #61
@rahulpsd18 -- happy to work together, if you'd like!

Thanks, @getify! Working on copy for subpages mentioned at the top.

[2022-07-17 18:55] rayblair06 commented on #1
I had a little look at this and yeah, having the files cache themselves is kind of annoying for development.

I think I can easily make some changes to avoid this (as you said, creating a flag or maybe even something to acknowledge development mode) but I don't want to step on any toes as I believe @abhishekraj272 and @Rajdeep-Das are working on this. I'm curious to have a little look at this as I

[2022-07-17 19:03] abhishekraj272 commented on #1
@rayblair06 the worker is almost complete, and it works on flags, when you enable the flags, it caches that specific thing. But as @getify told, so I had halt the development, if that's okay, I will complete it next weekend and send the PR.

[2022-07-20 23:56] AkiraBrand commented on #61
@eireann07 impressive copy! Happy to provide any editing should you want some.

[2022-09-10 11:32] scjuly19 commented on #53
@getify  Is someone already working on it? If not I will start on this? Also, are we planning to use any 3rd party library for this or just css and html?

[2022-09-10 13:48] pselle commented on #53
We're not aware of anyone presently working on this issue, so please
proceed! Prefer own-code versus third party libraries, but please feel free
to outline a solution if you'd like feedback on your plan before you
implement it!

sent from my mobile device

On Sat, Sep 10, 2022, 07:32 Sakshi Chaudhary ***@***.***>
wrote:

[2022-09-24 06:03] scjuly19 commented on #54
@AbednegoTM If you have started working on this, I would like to collaborate on that if you want.

[2022-11-05 14:23] #50 closed